
<div>
  <div class="intro-div-1">
    <img  width="80%" src="../assets/covid.gif" >
    <h1>Covid-19</h1>
    <h3>Data Fetcher</h3>
    <p class="title">Live statistics and coronavirus news tracking the number of confirmed cases, recovered patients, tests, and death toll due to the COVID-19 </p>
    <p class="title">We always try to give you the latest and correct details</p>
  </div>
</div>

<style>
.intro-div-1{
  height: 600px;
  width: 400px;
  background:ghostwhite;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 25px;
  text-align: center;
}
.title {
  color: grey;
  font-size: 18px;
  text-align: center;
}
</style>