
<div>
    <div class="intro-div-1">
        <div>
          <div [hidden]="loaded">
          <div  style="margin-top:25%;margin-left:0%;position: relative;" class="spinner-grow" role="status" [hidden]="loaded">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
            <div style="display: block" [hidden]="!loaded">
              <canvas baseChart
                      [datasets]="getData()"
                      [labels]="getLabels()"
                      [colors]="barChartColors"
                      [options]="barChartOptions"
                      [legend]="barChartLegend"
                      [chartType]="barChartType">
              </canvas>
            </div>
          </div>
      </div>
  </div>
  
  <style>
      .h20{
    color:lightslategray;
}
.h21{
    color: darkblue;
}
.h22{
    color: darkgreen;
}
.h23{
    color: darkred;
}



  .intro-div-1{
    height: 550px;
    width: 1000px;
    background:ghostwhite;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin-bottom: 25px;
    text-align: center;
  }
  .number{
      font-size: 40px;
      font-weight: bolder;
      font-family: fantasy;
      color:purple;
  }
  .title {
    color: grey;
    font-size: 18px;
  }
  </style>