
<div>
    <div class="intro-div-1">
      <img  width="80%" src="../assets/angular.png" >
      <h3>Designed With</h3>
      <h1>Angular</h1>
      <p class="title">A TypeScript-based open-source web application framework led by the Angular Team at Google and by a community of individuals and corporations.</p>
      
    <p class="title">               </p>
    <p class="title">               </p>
    <p class="title">Copyright © 2020</p>
    </div>
</div>
  
  <style>
  .intro-div-1{
    height: 600px;
    width: 400px;
    background:ghostwhite;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin-bottom: 25px;
    text-align: center;
  }
  .title {
    color: grey;
    font-size: 18px;
    text-align: center;
  }
  </style>